src/main/webapp/orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="order" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="order_id" type="xs:int"/>
              <xs:element name="username" type="xs:string"/>
              <xs:element name="product" type="xs:string"/>
              <xs:element name="quantity" type="xs:int"/>
              <xs:element name="price" type="xs:decimal"/>
              <xs:element name="total" type="xs:decimal"/>
              <xs:element name="order_date" type="xs:dateTime"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
